
.add-user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 10px 0;
}

.add-heading-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.back-button {
  border: none;
  border-radius: 22px;
  width: 60px;
  height: 35px;
  background-color: #4f46e5; 
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3f36c7;
  }
}


.form-add-user {
  display: flex;
  flex-direction: column;
}

.form-group-add-user {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

.form-add-user-inputs {
  height: 50px;
  padding: 0 20px;
  border-radius: 14px;
  border-width: 2px 3px;
  border-style: solid;
  border-color: var(--secondary-color);
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--primary-color);
  }
}

.form-add-user-button {
  height: 50px;
  margin: 12px 0 35px 0;
  border-radius: 14px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--hover-color);
  }

  &:disabled {
    background-color: var(--secondary-color);
    cursor: not-allowed;
  }
}