* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea,
select {
  font-family: 'Inter', serif;
}

body {
  max-width: 375px;
  margin: 10px auto;
  height: 96vh;
  border: 1px solid #00000046;
  padding: 0 18px;
  border-radius: 10px;
  overflow-x: hidden;
}
